.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

button {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 5px; /* Add spacing between buttons */
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:last-child {
  margin-bottom: 0; /* Remove margin for the last button */
}

